[submodule "dependencies/clipper"]
	path = dependencies/clipper
	url = https://github.com/mit-acl/clipper
	branch = roman
[submodule "dependencies/Kimera-RPGO"]
	path = dependencies/Kimera-RPGO
	url = git@github.com:MIT-SPARK/Kimera-RPGO.git
