[submodule "dependencies/clipper"]
	path = dependencies/clipper
	url = https://github.com/mit-acl/clipper
	branch = roman
[submodule "dependencies/Kimera-RPGO"]
	path = dependencies/Kimera-RPGO
	url = https://github.com/MIT-SPARK/Kimera-RPGO.git
[submodule "dependencies/roman-trt-models"]
	path = dependencies/roman-trt-models
	url = https://github.com/liqyn/roman-trt-models.git
